<div class="order-confirmation">
  <div class="order-confirmation__title">Success!</div>

  <div class="order-confirmation__item">
    Thank you, <strong>{{ fullName }}</strong>
  </div>

  <div class="order-confirmation__item">
    Your <strong>{{ totalPrice }}</strong>đ order is confirmed!
  </div>

  <div class="order-confirmation__item">
    Please allow 1-3 business day(s) for shipping.
  </div>

  <div class="order-confirmation__item">
    <a class="btn btn-sm btn-success" routerLink="/">Return to product list</a>
  </div>
</div>
